#page-container {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    min-width: 100%;
}

/* Top Bar */
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensures the top bar spans the full width */
    height: 100px; /* Fixed height for the top bar */
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adds some horizontal padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    z-index: 1000; /* Keeps the top bar above other content */
}

#home-btn,
#auth-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
}

#home-btn:hover,
#auth-btn:hover {
    background-color: #777;
}

#auth-btn {
    margin-right: 40px; /* Moves the button slightly to the left */
}

#project-name {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

/* Main Content */
#main-content {
    padding-top: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Footer */
#footer {
    background-color: black;
    color: white;
    padding: 20px;
    max-height: 500px;
}

#information {
    float: left;
    margin-left: 20px;
    color: white;
}

#information a {
    margin-top: 30px;
    text-align: left;
    color: white;
}

#information p {
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#links {
    float: right;
    margin-top: 80px;
    margin-right: 30px;
    text-align: center;
}

#links h3 {
    margin: 0px;
    padding: 0px;
    color: white;
}

#home-btn,
#auth-btn,
#go-back-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin-right: 40px;
}

#home-btn:hover,
#auth-btn:hover,
#go-back-btn:hover {
    background-color: #777;
}